.main-sec-services {
    @include adjust-content(90%);
    h3 {
        color: $nav_hover;
        padding: 1rem 0;
    }
    p {
        color: $white;
        padding: 1rem 0;
    }
    img {
        width: 100%;
    }
    section {
        article {
            @include flex-column-center;
            padding: 2rem 0;
            img{
                @include adjust-content(80%);
            }
        }
    }
}

/*Table*/
table {
    padding: 2rem 0;
    table-layout: fixed;
    width: 100%;    
    border-collapse: collapse;
    border: 3px solid $nav_hover;
}
.section-table h2 {
    text-transform: capitalize;
    color: $white;
    margin: 0 auto;
}
th {
    text-transform: uppercase;  
    text-align: center;
    color: $nav_hover;
    font-size: 1rem;
}
.table-body {
    color: $white;
    align-items: center;
}
td {
    @extend .table-body;
    font-size: 1rem;
} 

@media (min-width: $breakpoint-tablet) {
    .main-sec-services {
        @include adjust-content(80%);
    }
    .section-table {
        h2 {
            font-size: 3rem;
        }
    }
}

@media (min-width: $breakpoint-desktop) {
    
    td {
        font-size: 2rem;
    }
} 