$white: #ffffff;
$whiteBG: #ECF0F1;
$black: #333333;
$blackHeader: #000B0D;
$naranja: #ff6900;
$naranjaBG: #d0821e;
$col_title: #ffff00;
$col_titlebi: #ff0000;
$nav_hover: #ffdead;
$nav_hover_opa: rgba(255, 222, 173, 0.3);
$primary: #ffc107;
$secundary: #0097a7;
$gray: #757575;
$palete2: #154B52;

$charge: #7952b3;

$breakpoint-tablet: 420px;
$breakpoint-desktop: 768px;
$breakpoint-monitor: 950px;
