.site-footer {
    font-family: $font-principal;
    background-color: $blackHeader;
    text-align: center;
    padding-top: 1rem;

    a {
        text-decoration: none;
        color: $white;
        font-size: map-get($estilos-header, dimension);
        padding: 0 0.5rem 0 0.5rem;

        &:hover {
            text-decoration: none;
            color:  $primary;    
            transition: 1s;
        }
    }

    p {
        color: $white;
        font-size: 1.5rem;
    }

    .footer-redes {
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }

    .copyright {
        margin: 0;
    }
} 

.footer-logo {
    font-family: $font-title;
    padding: 0;
    width: 100%;

    a {   
        color: $nav_hover; 
        font-size: map-get($estilos-header, dimension);
        
    }
}

@media (min-width: $breakpoint-tablet) {
    .footer-logo {
        a {     
        font-size: 4rem;
        }
    }
    .site-footer {
        a {
            color: $black;
            font-size: map-get($estilos-header, dimension);        }
    }
}

@media (min-width: 768px) {
    .footer-logo {
        margin: 0 auto;
    }
}