.site-header {
    font-family: $font-principal;
    background-color: $blackHeader;
    @include flex-column-center;

    a {
        text-decoration: none;
        color: $white;
        font-size: 1.5rem;
        margin: 0 auto;

        &:hover {
            color:  $naranja;      
            transition: 1s;
        }
    }
    

    .navegacion {
        width: 100%;

        ul{
            list-style: none;
            padding: 0;
            margin: 0;

            li a {
                @include flex-column-center;
                padding: 0;
            }
        }
        
        .logo {
            font-family: $font-title;
            text-align: center;
    
            a {   
                color: $nav_hover; 
                font-size: map-get($estilos-header, dimension);;
    
                span {
                    text-transform: uppercase;
                    color: $col_titlebi;
                }

                &:hover {
                    color: map-get($estilos-header, color);
                    transition: 0.3s;
                }
            }
            
        }
    }  
    .redes  {
        padding-bottom: 1rem;
        justify-content: center;

        a {
            padding: 0 0.5rem;
        }
    } 
    
}

@media (min-width: $breakpoint-tablet) {
    .site-header {
        padding-bottom: 1rem;
        align-items: center;
        .navegacion {
            ul {
                @include flex-row-center;
                justify-content: space-evenly;
            }
        }
        a {
            font-size: 1rem;
        }
        .header-logo {
            font-size:  2rem;
        }
        .redes {
            display: flex;
            padding: 0;
            a {
                font-size: map-get($estilos-header, center1p5);
                padding-right: map-get($estilos-header, center1p5);
                color: $white;
                &:last-child {
                    padding-right: 0;
                }
                &:hover {
                    color: map-get($estilos-header, color);
                    transform: scale(1.3);
                    animation-duration: 2s;
                }
            }
        }
    } 
    
}
@media (min-width: $breakpoint-desktop) {
    .site-header {
        @include flex-row-center;
        justify-content: space-evenly;
    }
    .navbar-collapse{
        justify-content: space-evenly;
    }    
    
    .logo {
        width: 35%;
        a {
            color: map-get($estilos-header, dimension);
        }
    }
    .site-header {
        .header-redes { 
            padding-right: 1rem;       
        }
    }
}

@media (min-width: $breakpoint-monitor) {
    .site-header {
        .navbar-collapse {
            .navbar-nav {
                li {
                    padding-right: 3.5rem;
                    a {
                        &:hover {
                            color: $naranja;
                        }
                    }
                }
            }
        }
    }

    .header-redes {  
        a {
            &:hover {
                color: map-get($estilos-header, color);
            }
        }      
    }
}


